* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  background-color: rgba(102, 100, 100, 0.399);
  color: white;
  padding: 20px;
}
#root {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  color: white;
}
#input {
  font-size: 1.5rem;
}
body {
  background-color: rgb(60, 59, 57);
}
#todoContainer {
  background-color: rgba(102, 100, 100, 0.399);
  margin: 10px;
  padding: 30px;
}
